@media screen and (min-width: 320px) and (max-width: 425px) { 

body{
    background-color: rgb(236, 213, 213);
}

header {
    background-image: url(./imagenes/mendoza3.jpeg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
    background-color: #240B04;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    color: red;
    font-family: 'Satisfy', cursive;
    font-size: 80px;
}

#titulohead{
    text-shadow: -20px 0px 7px black;
}

p{
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 17px;
}

.cajainfo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 15px
}

.Mendoza-2{
    display: flex;
    width: 350px;
    height: 250px;
    
}

.cajainfo2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 15px
}

.Demografia-1{
    width: 450px;
    height: 350px;
}

img {
    width: 250px;
    height: 250px;
}

nav{
    display: flex;
    justify-content: center;
    border-top: #DE6B43 20px solid;
    padding: 15px;
}

.contlogo{
    display: flex;
    padding-right: 25px;
}
.logo{
    width: 40px;
    height: 40px;
}

.contvid {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

footer{
    background-color: #DE6B43;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 15px;
}

.svgs {
    display: flex;
    justify-content: space-between;
}

}